<div id="wrapper">
    <navmenu></navmenu>
    <navbar></navbar>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{$ctrl.contact.title}} {{$ctrl.contact.name}} {{$ctrl.contact.surname}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{$ctrl.contact.title}} {{$ctrl.contact.name}} {{$ctrl.contact.surname}}
                    </div>
                    <div class="panel-body">
                        <p class="lead">Titolo:  <a href="#" editable-text="$ctrl.contact.title">{{ $ctrl.contact.title || "empty" }}</a></p>
                        <br>
                        <p class="lead">Nome :  <a href="#" editable-text="$ctrl.contact.name">{{ $ctrl.contact.name || "empty" }}</a></p>
                        <br>
                        <p class="lead">Cognome :  <a href="#" editable-text="$ctrl.contact.surname">{{ $ctrl.contact.surname|| "empty" }}</a></p>
                        <br>
                        <p class="lead">piva :  <a href="#" editable-text="$ctrl.contact.surname">{{ $ctrl.contact.piva|| "empty" }}</a></p>
                        <br>
                        <p class="lead">CF :  <a href="#" editable-text="$ctrl.contact.surname">{{ $ctrl.contact.cf|| "empty" }}</a></p>
                        <br>
                        <p class="lead">Nascita :  <a href="#" editable-text="$ctrl.contact.surname">{{ $ctrl.contact.birthDay|| "empty" }}</a></p>
                        <br>
                        <p class="lead">skype :  <a href="#" editable-text="$ctrl.contact.surname">{{ $ctrl.contact.skype|| "empty" }}</a></p>
                        <br>
                        <p class="lead">website:  <a href="#" editable-text="$ctrl.contact.surname">{{ $ctrl.contact.website|| "empty" }}</a></p>
                        <br>

                        <h4>Alignment Helpers</h4>
                        <p class="text-left">Left aligned text.</p>
                        <p class="text-center">Center aligned text.</p>
                        <p class="text-right">Right aligned text.</p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>







    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>

        <!-- /.row -->


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->