<div id="wrapper">
    <navmenu></navmenu>
    <navbar></navbar>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Fatture EDIT</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a > STAMPA TODO</a></li>
                                    <li><a >Finish Editing</a></li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>

                                    <th>Nome</th>
                                    <th>descrizione</th>
                                    <th>importo</th>
                                    <th >tasse</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  class="lead" ng-repeat="voice in $ctrl.invoice.voices track by $index">
                                    <td><a href="#" editable-text="voice.name">{{ voice.name|| "empty" }}</a></td>
                                    <td><a href="#" editable-text="voice.description">{{ voice.description|| "empty" }}</a></td>
                                    <td><a href="#" editable-text="voice.value">{{ voice.value|| "empty" }}</a></td>
                                    <!--<td><a href="#" editable-checklist="voice.tax" e-ng-options="s._id as s.name for s in $ctrl.invoiceConfig.tax">{{$ctrl.taxStatus()}}</a></td>-->
                                    <td>
                                        <label ng-repeat="tax in $ctrl.invoiceConfig.tax">
                                            <input type="checkbox" checklist-model="voice.tax" checklist-value="tax"> {{tax.name}}
                                        </label>
                                    </td>

                                </tr>
                                <tr>
                                    <td ><button type="button" class="btn btn-enabled btn-circle" ng-click="$ctrl.addVoice()"><i class="fa fa-plus-circle"></i></button></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <!--<h4>Alignment Helpers</h4>-->
                        <!--<p class="text-left">Left aligned text.</p>-->
                        <!--<p class="text-center">Center aligned text.</p>-->
                        <!--<p class="text-right">Right aligned text.</p>-->

                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.save()">Save</button>
                        <!--<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.insert()">insert</button>-->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->